<section data-ng-controller="TemperaturesController" data-ng-init="findOne()">
  <div class="page-header">
    <h1>検温結果修正</h1>
  </div>
  <div class="col-md-12">
    <form class="form-horizontal" data-ng-submit="update()" novalidate>
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="temperature">体温</label>
            <div class="controls">
              <input type="text" data-ng-model="temperature.temperature" id="temperature" class="form-control" placeholder="体温" required>
            </div>

          <label class="control-label" for="recorded">検温時間</label>
            <div class="dropdown">
              <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                <!-- <div class="input&#45;group"><input type="text" class="form&#45;control" data&#45;ng&#45;model="data.dateDropDownInput"><span class="input&#45;group&#45;addon"><i class="glyphicon glyphicon&#45;calendar"></i></span> -->
                <div class="input-group"><input type="text" class="form-control" data-ng-model="data.dateDropDownInput"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="data.dateDropDownInput" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
              </ul>
            </div>

          <label class="control-label" for="feeling">調子</label>
          <div class="controls">
            <select class="form-control"
                    data-ng-model="feelingChoices[temperature.feeling]"
                    ng-options="f as f.label for f in feelingChoices"
                    >
            </select>
          </div>
          
          <label class="control-label" for="memo">メモ</label>
          <div class="controls">
            <textarea data-ng-model="temperature.memo" id="memo" class="form-control"></textarea>
          </div>


       </div>

       <div class="form-group">
         <input type="submit" value="修正反映" class="btn btn-default">
       </div>
		   <div data-ng-show="error" class="text-danger">
		     <strong data-ng-bind="error"></strong>
		   </div>
      </fieldset>
    </form>
  </div>
</section>
